.jumbotron-landing-page{
    background-image: url('https://jotunimages.azureedge.net/images/images/localgreen-carousel-02-1000x515_tcm61-178350.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}